<div>
    <p>
        {{mov.title}} has a genre of {{mov.genre}} and is about {{mov.plot}}

        <form action="/movies/{{mov._id}}/edit" method="GET">
            <button>Edit</button>
        </form>
    </p>

    <h5>Cast & Crew</h5>
    <ul>
        {{#each mov.cast}}

        <li>{{this.firstName}} {{this.lastName}}</li>

        {{/each}}
    </ul>

</div>